.exit {
    position: absolute;
    top: 20px;
    right: 10px;
    cursor: pointer;
}

header {
    margin-top: 80px;
}
 
button {
    color: #30c56e!important;
    border-color: #30c56e!important;
    cursor: pointer;
}
button:hover {
    background-color: #30c56e!important;
    color: #ffffff!important;
}
.selected-txt {
    color: #30c56e;
}